<div>
<h2 class="jumbotron" ><%= @handle %> is a fairly <%= @sentiment %> person, here are some of <%=@handle%>'s opinions</h2>

<div class="masonry">
         <div class="table-responsive">
            <table class="table table-striped">
              <tbody>
<% @filtered_copy.each do |c|%>
<div class="item">
	 <tr><td><%= c %></td></tr>
	</div> 
<% end %>
         </tbody>
            </table>
      </div>
</div>
</div>

<script>

var data = [
    {
        value: <%= @negative_score %>,
        color:"#F7464A",
        highlight: "#FF5A5E",
        label: "Negative"
    },
    {
        value: <%= @positive_score %>,
        color: "#46BFBD",
        highlight: "#5AD3D1",
        label: "Positive"
    },
    {
        value: <%= @neutral_score %>,
        color: "#FDB45C",
        highlight: "#FFC870",
        label: "Neutral"
    }
];
var data2 = {
    labels: ["City", "Person", "Country", "Crime", "Company", "Organization", "FieldTerminology", "Technology", "OperatingSystem", "TwitterHandle"],
    datasets: [
        {
            label: "My First dataset",
            fillColor: "rgba(220,220,220,0.2)",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "rgba(220,220,220,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: [<%= @type_scores["City"] %>,<%= @type_scores["Person"] %>,<%= @type_scores["Country"] %>,<%= @type_scores["Crime"] %>,<%= @type_scores["Company"] %>,<%= @type_scores["Organization"] %>,<%= @type_scores["FieldTerminology"] %>, <%= @type_scores["Technology"] %>, <%= @type_scores["OperatingSystem"] %>, <%= @type_scores["TwitterHandle"] %>]
        },
    ]
};
	// Get context with jQuery - using jQuery's .get() method.
var ctx = $("#myChart").get(0).getContext("2d");
var ctz = $("#myChart2").get(0).getContext("2d");
// This will get the first returned node in the jQuery collection.
new Chart(ctx).PolarArea(data);
new Chart(ctz).Radar(data2);



</script>